.icon_button {
  font-size: 25px;
  color: rgb(95, 7, 7);
  position: absolute;
  z-index: 1;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.425);
  border: 1px solid white;
  border-radius: 100%;
  right: 10px;
  top: 10px;
}
.icon_button:hover {
  background: transparent;
  color: white;
}
