.imageContainer {
  margin: 20px;
  display: grid;
  place-items: center;
  width: 40%;
  position: relative;
}

.imageThumb {
  margin: 0;
  width: 100%;
}

.imageAuthor {
  margin: 5px;
}
.fav_button {
  font-size: 25px;
  color: red;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  background: transparent;
  border: none;
  right: 10px;
  top: 10px;
}
